<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    <style>
        .navigation-order{
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>List of orders</h1>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Acronym ID</th>
                    <th>Name</th>
                    <th>Résumé</th>
                    <th>Définition</th>
                    <th>creation</th>
                    <th>author</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="acronym : ${acronyms}">
                    <td th:text="${acronym.name}"></td>
                    <td th:text="${acronym.description.shortD}"></td>
                    <td th:text="${acronym.description.longD}"></td>
                    <td th:text="${acronym.creation}"></td>
                    <td th:text="${acronym.author}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>