<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste acronymes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Custom styles for this template -->
    <link href="css/mystyle.css" rel="stylesheet" type="text/css">
    <link href="css/landing-page.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen"/>
    <style>
        .navigation-order{
            margin-bottom: 30px;
        }
    </style>
</head>
<div class="row" id="part1" style="height: 120px;background-color:#EBEBDC;">
    <a th:href="@{/index}"><img src="img/dico.png" alt="Dico photo" style="height: 80px; left: 20px; position: absolute; top: 15px; width: 80px;"/></a>
    <div style="position:absolute; left:100px; top:45px; height:45px; background-color:#EBEBDC; font-family:'Arial Gras Italique', 'Arial';
                font-weight:700; font-style:italic; font-size:22px; text-decoration:none; color:#FF6633; text-align:left;
                border-color:transparent; outline-style:none;">DicoDsi
    </div>
    <div  class="divmenu">


        <img src="img/logo_pe.png" alt="logo_pe photo" style="height: 80px;right: 20px;justify-content:right;position: absolute; top: 15px; width: 80px;" />

    </div>
    <div class="row" style="height:30px;">

    </div>
    <body>


    <<div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h2>Création acronyme</h2>
        <div>

            <form  th:action="@{/acronymAdd}"  th:object="${acronym}" method="POST">
                <!--<input th:type="hidden" name="id" th:field="${acronymForm.acronymId}" />-->
                <div class="form-group">
                        <label for="formControlInput0">acronyme (*) </label>
                        <input type="text" th:field="*{name}" id="formControlInput0" required />

                </div>
                <br>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Définition courte (*)</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"  th:field="*{description.shortD}" required />
                </div>
                <br>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Définition longue</label>
                    <textarea th:field="*{description.longD}"  class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <br/>
                <div class="row">
                    <div class="col-3">
                        <input type="text" class="form-control" placeholder="mot clé 1" th:field="*{keyword1}"  />
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" placeholder="mot clé 2" th:field="*{keyword2}"  />
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" placeholder="mot clé 3" th:field="*{keyword3}" >
                    </div>
                </div>
                <br>
                <br>
                <input type="reset" value="Annuler" />
                <input type="submit" value="Enregistrer" />
            </form>
        </div>
    </div>
</div>
<footer  style="height:80px;background-color:#EBEBDC;  position: absolute;
  bottom: 0;
  width: 100%;" >
    <div  class="float-lg-left" th:text="${nombre} + ' termes à la  date du 16/06/2018'">
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-12 h-40 text-lg-right">
                <ul class="list-inline mb-2">
                    <li  class="list-inline-item">
                        <a  class="ex2" style="color:#E66E0A;" href="#">A propos</a>
                    </li>
                    <li class="list-inline-item">
                        <a  class="ex2" style="color:#E66E0A;" href="#">Contacter l'administrateur</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>