<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Glossaire PE</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Bootstrap4 core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<body>

<!-- Navigation -->
<div class="row" style="height: 120px;background-color:#EBEBDC;">
    <img src="img/dico.png" alt="Dico photo" style="height: 80px; left: 20px; position: absolute; top: 15px; width: 80px;"/>
    <div style="position:absolute; left:100px; top:45px; height:45px; background-color:#EBEBDC; font-family:'Arial Gras Italique', 'Arial';
                font-weight:700; font-style:italic; font-size:22px; text-decoration:none; color:#FF6633; text-align:left;
                border-color:transparent; outline-style:none;">DicoDsi
    </div>
    <span style="padding-top: 35px;height:40px;margin-left:350px;font-size:18px;">Entrez l'acronyme ou les 1ères lettres (3 au max.) &nbsp;&nbsp;&nbsp;</span>
    <div  style="padding-top: 35px;display:inline-block;height:50px;margin-bottom:25px;font-size:20px;">
        <input type="text" style="width:150px; margin-left:16px;" />
        <button type="submit" id="btn_search">
            <img src="img/search.png" alt="Search Logo"></button>

        <img src="img/logo_pe.png" alt="logo_pe photo" style="height: 80px;right: 20px;justify-content:right;position: absolute; top: 15px; width: 80px;" />

    </div>
    <div class="row" style="height:30px;">
        <label style="background-color:#EBEBDC;margin-left:360px;font-size:18px;">Mots clé :&nbsp</label>
        <input type="text" id="motcle1" />&nbsp
        <input type="text" id="motcle2" />&nbsp
        <input type="text" id="motcle3" />
    </div>
</div>




<!-- Masthead -->
<header class="masthead text-center" >
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h6> Bienvenue sur le dictionnaire partagé de la DSI</h6>
                <h6 style="margin-bottom: 0px;">Saisissez un terme, un acronyme ou des mots clé et cliquez sur la loupe</h6>
                <h6> pour obtenir sa définition.</h6>
                <h6 style="margin-bottom: 0px;"> Si le terme recherché n'éxiste pas dans le Dico,</h6>
                <h6 style="margin-bottom: 0px;">n'hésitez pas à créer lorsque vous aurez les différents éléments</h6>
                <h6>nécessaires à sa création (libellé en clair et sa définition)</h6>
                <h6 style="margin-bottom: 0px;"> Si la définition proposée vous semble erronée,</h6>
                <h6> vous avez la possibilité de la corriger.</h6>
                <h6> Si le terme ou acronyme n'est plus usité, déclarez le comme obsolète.</h6>
                <h6> Bonne navigation. </h6>
            </div>
        </div>
    </div>

    <br>
    <br>
    <div class="row navigation-order">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <a href="/acronymList">Click here to go to Customer Order Management</a>
        </div>
    </div>

</header>


<style>
    a.ex2:hover, a.ex2:active {font-size: 110%;}
</style>


<footer  style="height:80px;background-color:#EBEBDC;" >
    <div class="float-lg-left" th:text="${nombre} + ' termes à l  date du 16/06/2018'">
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-12 h-40 text-lg-right">
                <ul class="list-inline mb-2">
                    <li  class="list-inline-item">
                        <a  class="ex2" style="color:#E66E0A;" href="#">A propos</a>
                    </li>
                    <li class="list-inline-item">
                        <a  class="ex2" style="color:#E66E0A;" href="#">Contacter l'administrateur</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Site DSI 2018</p>
            </div>
        </div>
    </div>
</footer>

</body>

</html>
